<h2 md-dialog-title *ngIf="!station">{{ 'STATIONS_DIALOG_TITLE' | translate }}</h2>
<h2 md-dialog-title *ngIf="station"> {{ 'STATIONS_DIALOG_EDIT' | translate }} {{station.name}}</h2>
    
<md-dialog-content class="dialog-form">
    <form ((ngSubmit)="submit()" class="full-width" [formGroup]="form" >
        <table cellspacing="0" class="full-width">
            <tr>
                <td>
                    <md-input-container name="name" id="name" class="full-width">
                        <input md-input placeholder="{{ 'STATIONS_DIALOG_NAME' | translate }}" name="name" id="name" [formControl]="name">
                    </md-input-container>
                    <form-error [field]="name" [formSubmitted]="submitted"></form-error>
                </td>
            </tr>
            <tr>
                <td>
                    <md-select name='language' id="language" placeholder="{{ 'STATIONS_DIALOG_LANGUAGE' | translate }}"  class="md-dialog-select full-width" [formControl]="language">
                        <md-option *ngFor="let language of languages" [value]="language.value">
                            {{language.viewValue | translate }}
                        </md-option>
                        </md-select>
                    <form-error [field]="language" [formSubmitted]="submitted"></form-error>
                </td>
            </tr>
            <tr>
                <td>
                    <md-input-container name='domain' id="domain" class="full-width">
                        <input md-input placeholder="{{ 'STATIONS_DIALOG_DOMAIN' | translate }}" name='domain' id="domain" [formControl]="domain">
                    </md-input-container>
                    <form-error [field]="domain" [formSubmitted]="submitted"></form-error>
                </td>
            </tr>
            <tr>
                <td>
                    <md-select name='type' id="type" placeholder="Type"  class="md-dialog-select full-width" [formControl]="type">
                        <md-option *ngFor="let type of types" [value]="type">
                            {{type}}
                        </md-option>
                        </md-select>
                    <form-error [field]="type" [formSubmitted]="submitted"></form-error>
                </td>
            </tr>
            <tr>
                <td>
                    <md-select placeholder="{{ 'STATIONS_DIALOG_STYLE' | translate }}"  name="style" id="style" class="md-dialog-select full-width"  [formControl]="style">
                        <md-option *ngFor="let style of styles" [value]="style">
                            {{style}}
                        </md-option>
                        </md-select>
                    <form-error [field]="style" [formSubmitted]="submitted"></form-error>
                </td>
            </tr>
            <tr>
                <td>
                    <md-select placeholder="{{ 'STATIONS_DIALOG_THEME' | translate }}" name="theme" id="theme" class="md-dialog-select full-width" [formControl]="theme">
                        <md-option *ngFor="let theme of themes" [value]="theme">
                            {{theme}}
                        </md-option>
                    </md-select>
                   <form-error [field]="theme" [formSubmitted]="submitted"></form-error> 
                </td>
            </tr>
        </table>
    </form>
</md-dialog-content>
<md-dialog-actions class="pull-right">
    <button md-raised-button md-dialog-close>{{ 'STATIONS_DIALOG_ACTION_CANCEL' | translate }}</button>
    <button md-raised-button color="primary" *ngIf="!station" (click)="submit()">{{ 'STATIONS_DIALOG_ACTION_OK' | translate }}</button>
    <button md-raised-button color="primary" *ngIf="station" (click)="submit()">{{ 'STATIONS_DIALOG_ACTION_VALIDATE' | translate }}</button>
</md-dialog-actions>