<form [formGroup]="form" (submit)="submit()">

    <md-input-container style="width: 100%">
        <input md-input placeholder="{{ 'FIRSTNAME' | translate }}" type="text" name="firstName" id="firstName" [formControl]="firstName">
    </md-input-container>
    <form-error [field]="firstName" [formSubmitted]="submitted"></form-error>
    
    <md-input-container style="width: 100%">
        <input md-input placeholder="{{ 'LASTNAME' | translate }}" type="text" name="lastName" id="lastName" [formControl]="lastName">
    </md-input-container>
    <form-error [field]="lastName" [formSubmitted]="submitted"></form-error>


    <button md-raised-button color="primary" type="submit" style="width: 100%">{{ 'EDIT_PROFILE_BUTTON' | translate }}</button>

    <div class="error-message" *ngIf="error">{{ error | translate }}</div>

    <div class="success-message" *ngIf="success">
        {{ 'EDIT_PROFILE_SUCCESS' | translate }}
    </div>

</form>