

    <h2 md-dialog-title *ngIf="user">{{ 'DATA_OPERATIONS_EDIT' | translate }} {{user.firstName}} {{user.lastName}}</h2>
    <h2 md-dialog-title *ngIf="!user">{{ 'USERS_DIALOG_TITLE' | translate }}</h2>

    <md-dialog-content style="font-size: 16px;">


        <form (ngSubmit)="submit()">
            <md-input-container style="width: 100%">
                <input md-input placeholder="{{ 'EMAIL' | translate }}" type="email" name="email" id="email" [formControl]="email">
            </md-input-container>
            <form-error [field]="email" [formSubmitted]="submitted"></form-error>


            <div *ngIf="user">
                <md-input-container style="width: 100%">
                    <input md-input placeholder="{{ 'USERNAME' | translate }}" type="text" name="username" id="username" [formControl]="username">
                </md-input-container>
                <form-error [field]="username" [formSubmitted]="submitted"></form-error>

                <md-input-container style="width: 100%">
                    <input md-input placeholder="{{ 'FIRSTNAME' | translate }}" type="text" name="firstName" id="firstName" [formControl]="firstName">
                </md-input-container>
                <form-error [field]="firstName" [formSubmitted]="submitted"></form-error>

                <md-input-container style="width: 100%">
                    <input md-input placeholder="{{ 'LASTNAME' | translate }}" type="text" name="lastName" id="lastName" [formControl]="lastName">
                </md-input-container>
                <form-error [field]="lastName" [formSubmitted]="submitted"></form-error>


                <hr>

                <md-select placeholder="{{'LANGUAGE' | translate}}" style="width: 100%" name="defaultLanguage" id="defaultLanguage" [formControl]="defaultLanguage">
                    <md-option value="en">English</md-option>
                    <md-option value="fr">Français</md-option>
                </md-select>
                <form-error [field]="defaultLanguage" [formSubmitted]="submitted"></form-error>
            </div>

            <hr>

            


            <roles-chooser name="roles" [formControl]="roles" [value]="[]"></roles-chooser>
            <form-error [field]="roles" [formSubmitted]="submitted"></form-error>





            <button md-raised-button color="primary" type="submit" class="hidden">Ok</button>

        </form>

    </md-dialog-content>


    

    <md-dialog-actions class="pull-right">
        <button md-raised-button md-dialog-close>{{ 'USERS_DIALOG__ACTION_CANCEL' | translate }}</button>
        <button md-raised-button color="primary" (click)="submit()"  *ngIf="user">{{ 'USERS_DIALOG_ACTION_OK' | translate }}</button>
        <button md-raised-button color="primary" (click)="submit()"  *ngIf="!user">{{ 'USERS_PAGE_INVITE' | translate }}</button>
    </md-dialog-actions>
