<form [formGroup]="form" (ngSubmit)="submit()">
    
    <md-input-container style="width: 100%">
        <input md-input placeholder="{{ 'OLD_PASSWORD' | translate }}" type="password" name="oldPassword" id="oldPassword" [formControl]="oldPassword">
    </md-input-container>
    <form-error [field]="oldPassword" [formSubmitted]="submitted"></form-error>
    
    <md-input-container style="width: 100%">
        <input md-input placeholder="{{ 'NEW_PASSWORD1' | translate }}" type="password" name="newPassword1" id="newPassword1" [formControl]="newPassword1">
    </md-input-container>
    <form-error [field]="newPassword1" [formSubmitted]="submitted"></form-error>
    
    <md-input-container style="width: 100%">
        <input md-input placeholder="{{ 'PASSWORD_REPEAT' | translate }}" type="password" name="newPassword2" id="newPassword2" [formControl]="newPassword2">
    </md-input-container>
    <form-error [field]="newPassword2" [formSubmitted]="submitted"></form-error>


    <button md-raised-button color="primary" type="submit" style="width: 100%">{{ 'CHANGE_PASSWORD_BUTTON' | translate }}</button>

    <div class="error-message" *ngIf="error">{{ error | translate }}</div>

    <div class="success-message" *ngIf="success">
        {{ 'CHANGE_PASSWORD_SUCCESS' | translate }}
    </div>

</form>