<md-toolbar color="accent"> Stations</md-toolbar>
<h1 class="text-center" *ngIf="!ready">{{ 'PAGE_LOADING' | translate }} </h1>
<div *ngIf="ready" padding>
  <button md-raised-button color="primary" class="pull-right" (click)="addStation()"> 
      {{ 'STATIONS_PAGE_ADD' | translate }} <md-icon>add</md-icon>
   </button>
 <md-input-container>
        <input md-input placeholder=" {{ 'STATIONS_PAGE_FILTER_TEXT' | translate }} " (keyup)="updateFilter($event)" name="filter" id="filter">
    </md-input-container>

    <ngx-datatable class="material" columnMode="force" headerHeight="32" footerHeight="30" rowHeight="auto" limit="20" [rows]="stations">

        <ngx-datatable-column maxWidth="40">
            <template let-station="row" ngx-datatable-cell-template>
                <md-icon *ngIf="station.isActive">check</md-icon>
                <md-icon *ngIf="!station.isActive">clear</md-icon>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column name="{{ 'STATIONS_DIALOG_NAME' | translate }}" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="{{ 'STATIONS_DIALOG_LANGUAGE' | translate }}" prop="language"></ngx-datatable-column>
        <ngx-datatable-column name="{{ 'STATIONS_DIALOG_DOMAIN' | translate }}" prop="domain"></ngx-datatable-column>
        <ngx-datatable-column name="{{ 'STATIONS_DIALOG_STYLE' | translate }}" prop="style"></ngx-datatable-column>
        <ngx-datatable-column name="{{ 'STATIONS_DIALOG_THEME' | translate }}" prop="theme"></ngx-datatable-column>
        
        <ngx-datatable-column maxWidth="80">
            <template let-station="row" ngx-datatable-cell-template>
                <div class="text-center">
                    <button md-icon-button [mdMenuTriggerFor]="menu">
                        <md-icon>more_vert</md-icon>
                    </button>
                    <md-menu #menu="mdMenu">
                        <button md-menu-item (click)="editStation(station)">
                            <md-icon>mode_edit</md-icon>
                            <span>{{ 'DATA_OPERATIONS_EDIT' | translate }}</span>
                        </button>
                        <button md-menu-item (click)="setActive(station, false)" *ngIf="station.isActive">
                            <md-icon>visibility_off</md-icon>
                            <span>{{ 'DATA_OPERATIONS_DESACTIVATE' | translate }}</span>
                        </button>
                        <button md-menu-item (click)="setActive(station, true)" *ngIf="!station.isActive">
                            <md-icon>visibility_on</md-icon>
                            <span>{{ 'DATA_OPERATIONS_ACTIVATE' | translate }}</span>
                        </button>
                    </md-menu>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>