<ion-header>
  <ion-navbar>
    <ion-title>Home - Admin</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 id="title">{{ 'HELLO' | translate:user }}</h2>

	<button ion-button (click)="changeLang('fr')">Français</button>
	<button ion-button (click)="changeLang('en')">English</button>
	<br>
	<button ion-button (click)="facebookLogin()">Facebook</button>
	

  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI!
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>

	<div class="row">
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
		<div class="col-md-1 col-xs-2">col-md-1</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-xs-12">col-md-8</div>
		<div class="col-md-4 col-xs-12">col-md-4</div>
	</div>
</ion-content>
