.text-center {
    text-align: center;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.hidden {
    visibility: hidden;
}


.error-message {
    color: #f44336;
    margin-top: 15px;
    text-align: center;
}

.success-message {
    font-size: 16px;
    margin-top: 15px;
    text-align: center;
}