
@import '../theme/material-theme';

@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import '../../node_modules/@swimlane/ngx-datatable/release/datatable';
@import '../../node_modules/@swimlane/ngx-datatable/release/material';

@import '../theme/flexbox-mixins';
@import '../theme/session-layout';
@import '../theme/layout';
@import '../theme/utilities';

a {
    cursor: pointer;
}

.ion-page.show-page {
    overflow-y: auto;
}

.grey-background {
    background: #fafafa;
}
.dialog-form {
  font-size: 16px;
}

.full-width {
  width: 100%;
}
.mdl-dialog__actions{
    padding: 5px;
}
.md-dialog-select{
    padding-top: 10px;
    padding-bottom: 10px;
}
.button-to-right{
    float: right;
    padding: 5px;
}

.centered-card {
    width: 500px;
    margin: 0 auto;
}


form,
input,
optgroup,
select {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

[md-dialog-title] {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}