<form (submit)="submit()">
    <ion-list>

        <ion-item>
            <ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>
            <ion-input type="email" name="email" id="email" [formControl]="email"></ion-input>
        </ion-item>
        <form-error [field]="email" [formSubmitted]="submitted"></form-error>

        <div padding>
            <button ion-button color="primary" block type="submit">{{ 'SEND_RESET_PASSWORD_BUTTON' | translate }}</button>


            <ion-item text-wrap *ngIf="success">
                {{ 'SEND_RESET_PASSWORD_SUCCESS' | translate }}
            </ion-item>

            <ion-item text-wrap *ngIf="error">
                {{ error | translate }}
            </ion-item>
        </div>
    </ion-list>

    <div padding *ngIf="success">
        <h4>Test lien</h4>

        <a ion-button block [href]="token" target="_blank">Click to activate reset password</a>

    </div>
        
</form>