<form (submit)="submit()">

    <md-input-container style="width: 100%">
        <input md-input placeholder="{{ 'EMAIL' | translate }}" type="email" name="email" id="email" [formControl]="email">
    </md-input-container>
    <form-error [field]="email" [formSubmitted]="submitted"></form-error>


    <button md-raised-button color="primary" type="submit" style="width: 100%">{{ 'SEND_RESET_PASSWORD_BUTTON' | translate }}</button>

    <small *ngIf="error">{{ error | translate }}</small>

    <div padding *ngIf="success">
        <h4>Test lien</h4>

        <a ion-button block [href]="token" target="_blank">Click to activate reset password</a>

    </div>
        
</form>